// colors
$orange: #ff4900;
$white: #ffff;
$gray: #707070;
$lightBlack: #111111;
$black: #000000;
// mixins
@mixin par($s, $w, $c) {
    font-size: $s;
    font-weight: $w;
    color: $c;
}
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 20px;
}
body::-webkit-scrollbar-track {
    background-color: $lightBlack;
}
