*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    font-family: poppins;
    overflow-x: hidden;
    color: white;
}
ul {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
.container {
    width: 100%;
    padding: 0 172px;
}
